.lgd-region__inner--banner .block-views-blocknews-slider-block-1 {
    background-color: var(--light-grey);
    padding: 2% 0;
}

.block-views-blocknews-slider-block-1 h2 {
    text-align: center;
}

.draggable {
    max-width: var(--width-container);
    margin: 0 auto;
    padding: 0 !important;
}

.slick-track {
    
}

.slick__slide {
    margin: 0 10px;
    background-color: white;
    padding: 10px;
}

.slick__slide:first-child {
    margin-left: 0;
}