/** Custom Box links for homepage **/
.home ul.box-links-listing__list {
  display: flex;
  justify-content: space-between;
}

.home li.box-links-listing__list-item {
  width: 31%;
  margin: 2% 0;
  text-align: center;
}

.home article.box-link.paragraph {
  padding: 4% 0;
}